body { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px; }

table,tr,th,td { border:1px solid black; border-spacing:0px; padding:3px; 
font-size: 14px; }

td { width:100px; }

input { width:100px; }

.btn  { width:50px; }
